<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>partList</title>
</head>
<body>
        <div th:each="part : ${parts}" >
            <h2>nom de la partie</h2>
            <div th:text="${part.getTitle()}"></div>

            <h2>Participant</h2>
            <div th:each="user : ${part.getUsers()}">
                <div th:text="${user.getPseudo()}"> </div>
            </div>
            <div th:if="${part.finish == false}">
            <a  th:href="@{/part/endgame/form/{id}(id=${part.idMatch})}"> fin de partie</a>
            </div>
            <div th:if="${part.finish == true}">
            <h2 th:text="'le gagnant est' + ${part.getWinner()}"> </h2>
            </div>
        </div>
</body>
</html>