<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body  class="bg-dark text-light">
<div class="container">
<h1 class="text-center"><span th:text="${user.getLastName() }"> </span>    <span th:text="${ user.getFirstName()}"></span></h1>

    <p>votre age : </p>
    <p th:text="${user.getAge()}"></p>


    <div><p th:each="part: ${part}" th:text="${part.getTitle()}"></p></div>


    <a th:href="${'/user/update'}">modifier</a>
    <a th:href="${'/part/list'}">toute les parties</a>



</div>

</body>
</html>